@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

.items {
  background-color: #ff8b13;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.15);
  margin: 10vh auto;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
}

@media (min-width: 760px){
  .items{
    width: 40vw;
  }
} 

@media (min-width: 490px){
  .items {
    width: 60vw;
  }
}

@media (max-width: 490px) {
  .items {
    width: 80vw;
    margin-top: 10vh;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.items-li {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position:relative;
  height:min-content;
  margin-bottom: 1em;
}

.items-li-inner{
  position: relative;
  width: 100%;
  height: 4rem;
  text-align: center;
  transition: all 0.6s;
  transform-style: preserve-3d;
}

.items-li-container {
  width: 80%;
  text-align: center;
}

.items-li-container, .items-li-container-back{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position:absolute;
}

.items-li-container-back{
  background-color:#fda547;
  position:relative;
  transform: rotateY(180deg);
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.2);
-moz-box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.2);
box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.2);
display:flex;
flex-direction: row;
justify-content: center;
}

.items-li-container-back-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 1fr));
  grid-gap: 1px;
  grid-auto-rows: 100%;

}

.content-entry{
  text-align: center;
  height: 100%;
  width: 100%;
}

.items-button{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  padding-left:20px;
  padding-right:20px;
  border-radius: 25px;
  border:0px;
  background-color: transparent;
  height: 100%;
}

.items-button-back{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  padding-left:10px;
  padding-right:10px;
  border-radius: 25px;
  height: 100%;
  border:0px;
  background-color: #ffffff4f;
}

.closebutton{
  background-color: rgba(220, 20, 60, 0.404);
}

.items-li-container hr {
  color: #222;
  border-color: #fff;
}

.items-li-container button:hover{
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 25px, rgba(255, 255, 255, 1) 0px 0px 15px;
}

.items-li-active{
  transform: rotateY(180deg);
}


